html{
	overflow-y: scroll;
}
.geocharter-container{
	width:100%;
	margin: 0 auto;
	position:relative;
}
.geocharter-panel{
	float:left;
	display:inline;
	width:500px;
	height:500px;
	position:absolute;
}
#changeData{
	display:block;
	margin:0 auto;
}